# Auth0
AUTH0_DOMAIN=your-tenant.us.auth0.com
AUTH0_CLIENT_ID=your_auth0_client_id
AUTH0_CLIENT_SECRET=your_auth0_client_secret
AUTH0_SECRET=your_auth0_secret_random_string
APP_BASE_URL=http://localhost:4005

# MongoDB
MONGO_URI=mongodb+srv://yourusername:yourpassword@yourcluster.mongodb.net/e-commerce?appName=YourAppName
DATABASE_URL=mongodb+srv://yourusername:yourpassword@yourcluster.mongodb.net/e-commerce?appName=YourAppName&retryWrites=true&w=majority

# Vercel Blob
BLOB_READ_WRITE_TOKEN=your_vercel_blob_token

# Stripe — https://dashboard.stripe.com/apikeys
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key
STRIPE_SECRET_KEY=sk_test_your_secret_key
# Set this to support webhooks — https://stripe.com/docs/webhooks#verify-events
# STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret